[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "celda"]
	path = celda
	url = https://github.com/campbio/celda
[submodule "musicatk"]
	path = musicatk
	url = https://github.com/campbio/musicatk
[submodule "scruff"]
	path = scruff
	url = https://github.com/campbio/scruff
